*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #280ad4;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main {
    width: 100%;
    max-width: 1000px;
    display: flex;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0 9);
}

.logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.card {
    width: 60%;
    background: white;
    padding: 40px;
}
.card h2 {
    color: #1e3a8a;
}

.form-group {
    margin-bottom: 18px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}


input:focus {
    outline: none;
    border-color: #1e3a8a;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #1e3a8a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-register {
    background: white;
    color: #1e3a8a;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
}


.btn-forgotpassword {
    background: white;
    color: #1e3a8a;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .main{
        flex-direction: column;
    }
    .logo {
        width: 100%;
        padding: 30px;
    }
    .card {
        width: 100%;
        padding: 25px;
    }
}